html, head, body, div, p {
    color: darkgray;
    background-color: darkslategray;
}

a, div, p {
    font-size: 18pt;
}

a {
    color: cyan;
}

a:hover {
    color: white;
}

#content, #prevNext, #parts, .contents {
    width: 678px;
    margin-left: auto;
    margin-right: auto;
}

#parts {
    border: solid;
    border-radius: 1em;
    padding: 4px;
}

#parts > p {
    text-align: center;
}

#prevNext {
    padding-top: 10px;
    padding-bottom: 20px;
}

#next, #prev {
    border: solid;
    border-radius: 0.5em;
    display: inline-block;
    width: 329px;
    text-align: center;
}

#next > a, #prev > a {
    text-align: center;
}

#heading1 {
    text-align: center;
}

img {
    width: 100%;
}

.inlineResults > p {
    color: lime;
}

.code {
    color: floralwhite;
    background-color: black;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    max-height: 1000px;

}

.results {
    width: 67%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    max-height: 1000px;
}

h3 {
    color: white;
}